//
//  Debug.xcconfig
//  Scout
//
//  Created by Anna on 2/26/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SUPABASE_SCHEME = https
SUPABASE_HOST= xbazbhbwbyuqejpshacq.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhiYXpiaGJ3Ynl1cWVqcHNoYWNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0OTM2ODUsImV4cCI6MjA4ODA2OTY4NX0.vmXDdmDnGwHZ38dwHtioS04oCv9VXJLrHtvkyq4PqGo
